/* General label styling */
label {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Loading state styling */
.loading {
    font-style: italic;
    color: #888;
}

/* Button container styling */
.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

/* Hover effect for list group items */
.list-group-item:hover {
    background-color: #eee;
    cursor: pointer;
}

/* Custom button class styling */
.customBtnClass {
    margin-left: 10px;
}

/* Input text styling */
input[type="text"] {
    border-radius: 5px !important;
}

/* Ellipsis link styling */
.ellipsis-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
}

.city-link {
    color: black;
    text-decoration: underline;
}

.labelClass {
    font-weight: bold;
    margin-bottom: 10px;
}